<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuL_isxA8nU9uSdV_M4HrPmFOs5chtO8w</string>
	<key>GCM_SENDER_ID</key>
	<string>211120568158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zedsols.kotlin-project.KotlinProject</string>
	<key>PROJECT_ID</key>
	<string>kotlinapp-e2ece</string>
	<key>STORAGE_BUCKET</key>
	<string>kotlinapp-e2ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211120568158:ios:64cb517a61675cc7bb81cf</string>
</dict>
</plist>